<div class = "w-100 m-auto" style="max-width: 300px;">
    <form [formGroup] = "signupForm">
        <h1 class="h3 mb-3 fw-normal">Please Sign up</h1>
        
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName = "name">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName = "email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Password" formControlName = "password">
            <label for="floatingPassword">Password</label>
        </div>
    
        <button class="btn btn-primary w-100 py-2" type="submit" (click) = "register()">Sign up</button>
    </form>
    
</div>